.custom-container {
  max-width: 750px;
  margin: auto;
}

.date-input-group {
  display: flex;
}

.date-input-group > input {
  width: 50%;
}

@media screen and (max-width: 550px) {
  .hide-sm {
    display: none;
  }
}

span.ui.label {
  transform: translatex(10px);
}
